﻿
@{
    ViewBag.Title = "Index";
}

<h2>Person Page</h2>
<div>
    <div id="Judul"><h2></h2></div>
    <div>FirstName : <span id="FName1" name="FName"></span></div>
    <div>LastName : <span id="LName1" name="LName"></span></div>
</div>

<!--Menjahit js di view-->
<!--#digunakan untuk mengambil id kalau .untuk name-->
<script>
    $(document).ready(function () {
        var FName, LName;
        var baseUrl = window.location.origin + "/Person/";
        var options = {
            type: "POST",
            url: baseUrl + 'GetData', //kadang harus dicek juga di console, biasanya routenya salah, jadi harus ditambah /controller
            //data: '{param1:"' + $('#FName1').val() + '",param2:"' + $('#LName1').val() + '"}',
            //data: '{param1:"Joko",param2:"35"}',
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    for (key in response) {
                        if (response.hasOwnProperty(key)) {
                            FName = response.FirstName;
                            LName = response.LastName;
                        }
                    }
                } else {
                    alert("Something went wrong");
                }
                $('#Judul').html("List Table Person");
                $("#FName1").html(FName); //Tulis sesuatu ke view
                $("#LName1").html(LName); //tulis sesuatu ke view
                setInterval(function () { load() }, 10000);
            }
        };
        $.ajax(options);
    });
    /*let load = () => {
        var FName, LName;
        var options = {
            type: "POST",
            url: 'GetData', 
            //data: '{param1:"' + $('#FName1').val() + '",param2:"' + $('#LName1').val() + '"}',
            //data: '{param1:"Joko",param2:"35"}',
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    for (key in response) {
                        if (response.hasOwnProperty(key)) {
                            FName = response.FirstName;
                            LName = response.LastName;
                        }
                    }
                } else {
                    alert("Something went wrong");
                }
                $('#Judul').html("List Table Person");
                $("#FName1").html(FName); //Tulis sesuatu ke view
                $("#LName1").html(LName); //tulis sesuatu ke view
                setInterval(function () { load() }, 10000);
            }
        };
        $.ajax(options);
    }*/
    /*function load() {
        // cara lain untuk load code
    }*/
</script>

